﻿@model IEnumerable<website.Models.Estado>

@{
    ViewBag.Title = "Estados";
}

<h2>Estados</h2>

<p>
    <img src="~/Content/Imagens/adicionar.png" />
    @Html.ActionLink("Adicionar Novo Estado", "Create")
</p>


<div class="row linhaunderline">
    <div class="col-md-8">
        <b>Descrição</b>
    </div>
    <div class="col-md-2">
        <b>Sigla</b>
    </div>
    <div class="col-md-2 acoesadireita">
        <b>Ações</b>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row linhaunderline" onmouseover="javascript: this.style.backgroundColor = '#e2e2e2'" onmouseout="javascript: this.style.backgroundColor=''">
        <div class="col-md-8">
            @Html.DisplayFor(modelItem => item.Descricao)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Sigla)
        </div>
        <div class="col-md-2 acoesadireita">
            <a href='@Url.Action("Edit","Estados", new { id = item.EstadoID })'>
                <img src='@Url.Content("~/Content/Imagens/editar.png")' class="botaoicone" title="Editar" />
            </a>
            <a class="btn excluir botaoicone" data-target="#modal" data-toggle="modal" data-content="@item.Descricao" data-id="item.EstadoID" style="background: url(@Url.Content("~/Content/Imagens/excluir.png")) no-repeat;"></a>
        </div>
    </div>
}


<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Exclusão de Estado
                </h4>
            </div>
            <div class="modal-body">
                <div id="mensagem"></div>
                <input type="hidden" id="numero" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" id="btnDelete">
                    Deletar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts{
    <script>
        $(function() {
            $(".excluir").click(function() {
		var id = $(this).attr("data-id");
		var descricao = $(this).attr("data-content");
  		$("#mensagem").html("<p>Deseja excluir o estado "+ descricao + "?</p>");
                $("#numero").text(id);
            });
            $("#btnDelete").click(function() {
		var id = $("#numero").text();
		var url = '@Url.Action("DeleteAJAX", "Estados")';
                $.post(url, { EstadoID: id },
		function(data) {
                	window.location.href = "@Url.Action("Index", "Estados")";
                })
                .fail(function() {
                    alert("error")
                });
                $('#modal').modal('hide');
            });
        })
    </script>
}

<br />
<div class="row linha">
    <div class="col-md-12">
        <b>Legenda:</b><br />
        <img src='@Url.Content("~/Content/Imagens/adicionar.png")' class="botaoicone" />Novo
        <img src='@Url.Content("~/Content/Imagens/editar.png")' class="botaoicone" />Editar
        <img src='@Url.Content("~/Content/Imagens/excluir.png")' class="botaoicone" />Excluir
    </div>
</div>
