﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.linha{
    line-height: 32px;
}

.linhaunderline{
    line-height: 32px;
    border-bottom: 1pt solid #e2e2e2;
}

.linhaacima{
    line-height: 32px;
    border-top: 1pt solid #e2e2e2;
}

.acoesdireita{
    text-align: right;
}

.botaicone{
    height: 22px;
    width: 22px;
}

.botaoiconeusuario{
    height: 40px;
    width: 40px;
}

